@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #ff7613;
	--text-color: #727171;
}
html {
	font-size: 10px;
}
body {
	font-family: Inter, sans-serif;
	background-color: black;
	color: white;
}

/* Estilos */
img {
	width: 100%;
	margin-left: 30px;
	
}
a {
	text-decoration: none;
	color: white;
}
.descripcion {
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: 400;

}
.titulo {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}
.item_preTitulo {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 300;
}
.item_titulo {
	font-size: 1.6rem;
	color: white;
	font-weight: 500;
	margin: 0.8rem 0;
}
.item_subtitulo {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 400;
}

/* Diseños */
.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	padding: 5rem;
	background: #070707;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}
@media only screen and (max-width: 768px) {
	.contenedor {
		width: 100%;
		grid-template-columns: 1fr;
		padding: 3rem;
		gap: 7rem;
	}
}
.perfil {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}
.grupo_1,
.grupo_2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}
.grupo_3 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}
.grupo_3 > div {
	flex: 1;
}
@media only screen and (max-width: 768px) {
	.perfil {
		margin-bottom: 0;
	}
	.grupo_3 {
		flex-direction: column;
	}
}

/* perfil */
.perfil_contenedor {
	display: flex;
	gap: 2rem;
}

.perfil_nombre {
	display: flex;
	justify-content: center;
	

}

.perfil_nombre_primerNombre {
	color: white;
	font-weight: 200;
	font-size: clamp(2rem, 8vw, 4rem);
	text-transform: uppercase;
	display: block;
	margin-bottom: -0.8rem;
}
.perfil_nombre_apellido {
	color: var(--primary-color);
	font-weight: 700;
	font-size: clamp(2.5rem, 15vw, 7rem);
	text-transform: uppercase;
	display: block;
}
.perfil_titulo {
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
.descarga {
	display: block;
	text-decoration: underline;
	font-size: 1.6rem;
	margin-top: 1rem;
}
.descarga:hover {
	color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
	.perfil_contenedor {
		flex-direction: column;
	}
}

/* Habilidades */
.habilidades_lista {
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}

/* Referencias  */
.datos_item {
	margin-top: 2rem;
}
.datos_nombre {
	font-size: 1.6rem;
	font-weight: 700;
}

/* Educacion */
.formacion_item {
	margin-top: 2rem;
}

/* certificación */
.certificacion_item {
	margin-top: 2rem;
}
/* exp */
.exp_item {
	margin-top: 2rem;
}

/* Premios */
.premios_item {
	margin-top: 2rem;
}
/* Intereses */
.intereses_items {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.interes_item {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	color: var(--text-color);
}


/* redes sociales */
.social_items {
	margin-top: 2rem;
}
.social_item {
	margin-top: 1.5rem;
	font-size: 1.5rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-color);
}
.social_item:hover {
	color: var(--primary-color);
}


hr {
	grid-column: 1/-1;
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 1rem;
	border: none;
	border-top: 2px solid rgba(128, 128, 128, 0.229);
}
@media only screen and (max-width: 768px) {
	hr {
		margin: 0 auto;
	}
}

/* iconos */


.iconos {
	font-size: 20px;
	height: 30px;


}
